:root {
  --blue: #0074D9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    top: 0;
    background: #eee;
    z-index: 10;
    opacity: 0.8;
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 0;
}


h1 {
    text-align: center;
    color: darkblue;
    justify-self: center;
}

p {
    text-align: center;
}

.options {
    margin-bottom: auto;
    margin-top: auto;
}

.activity-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*! margin-top: 80px; */
    box-sizing: border-box;
    margin-top: 10px;
}

.activity-item {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 5px 15px;
    flex-wrap: wrap;
}

.route {
    /*! width: auto; */
    /*! min-width: 100px; */
    /*! height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /*! margin-right: 10px; */
}

.activity-info {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: large;
    font-weight: bold;
    padding-right: 30px;
    max-width: 600px;
}

.title {
    flex: 1;
    /*! min-width: 200px; */
    text-align: left;
}

.activity-selection {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

select {
    min-width: 180px;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

button {
    margin-top: 25px;
    float: right;
    padding: 10px 30px;
    font-size: large;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 25px;
}

label {
  cursor: pointer;
}


.checkbox {
  margin-left: 20px;
  align-content: center;
}
input[type="checkbox"] {
  scale: 1.5;
  margin: 5px;
  cursor: pointer;
}

.manual, .stretching{
  display: none;
}

input.manual + label.manual, input.stretching + label.stretching{
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid darkgray;
    border-radius: 10%;
    transition: .1s all;
    cursor: pointer;
    z-index: 999 !important;
}

/* manual */
input.manual + label.manual:after {
    color: var(--blue);
    content: "M";
}

input.manual:checked + label.manual {
    background: var(--blue);
}

input.manual:checked + label.manual:after {
    color: white;
    content: "M";
}

input.manual.disabled + label.manual {
    background: var(--blue);
    cursor: default;
    pointer-events: none;
}

input.manual.disabled + label.manual:after {
    color: white;
    content: "M";
}

/* stretching */
input.stretching + label.stretching:after {
    color: var(--blue);
    content: "🧘";
}

input.stretching:checked + label.stretching {
    background: var(--blue);
}

input.stretching:checked + label.stretching:after {
    color: white;
    content: "🧘";
}

input.stretching.disabled + label.stretching {
    background: var(--blue);
    cursor: default;
    pointer-events: none;
}

input.stretching.disabled + label.stretching:after {
    color: white;
    content: "🧘";
}

.distance {
    width: 100px;
    text-align: right;
}

.date {
    width: 70px;
    text-align: right;
}
.duration {
    width: 70px;
    text-align: right;
}

.example {
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#two_examples {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    justify-self: right;
}

#left_header {
    justify-self: left;
}
